.container-fluid{
    background-color: #5C573E;
    height: 100px;
}

body{
    background-color: #a5b452;
    overflow-x: hidden;
}

.navbar-brand{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: "Dopestyle";
    text-indent: 50px;
    padding-bottom: 25px;
    -webkit-text-stroke: 2px #000000;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}




.nav-link{
    color: aliceblue;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    -webkit-text-stroke:  0.5px #000000;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    
}

.btn-outline-success{
    background-color: #FFC09F;
    color: black;
}

.btn-outline-success:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.list-group-item{
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    background: #000000;
    padding-top: 50px;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    
}

.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content{
    width: 33.3%;
    
}

h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p{
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul{
    text-align: center;
}

.list{
    padding: 0%;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: attr();
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0%;
    height: 2px;
    background: #5C573E;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0%;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: aliceblue;
    font-size: 25px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #FFC09F;
}

.social-icons i:hover{
    color: #FFC09F;
}

.bottom-bar{
    background: #5C573E;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}

.col{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card{
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.row img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #5a3d26;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    transition: all 0.4s ease;
    border-radius: 15px;
    overflow: hidden;
}

.row img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    border: 3px solid #ffffff;
}

.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    outline: none;
    transition: 0.3s ease;
    font-size: 16px;
}

.contact-box input:focus,
.contact-box textarea:focus{

    border-color: #5a3d26;
    box-shadow: 0 0 10px rgba(92,87,62,0.4);
}

.contact-box button{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #FFC09F;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s ease;
}


.contact-box button:hover{
    background-color: #000000;
    color: #ffffff;
    transform: scale(1.02);
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}


.contact-box{
    width: 100%;
    max-width: 800px;
    background-color: transparent;
}


.about-card{
    width: 400px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-image: url("/Images of birds/Birds photos/kevin-mueller-aeNg4YA41P8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: 0.4s ease;
}

.card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: white;
}

.card-content p{
    max-width: 90%;
    line-height: 1.8;
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    text-decoration: underline white;
    font-family: Arial, Helvetica, sans-serif;
}


.about-card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.card-link{
    text-decoration: none;
    color: inherit;
}
